@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Recipe Builder</h1>
    <p class="lead">Recipe Builder is a great Web site and Web application built using ASP.NET MVC5. 
    Recipe Builder is, and continues to be an inspiring application idea of which I first thought of the winter term of 2012 
    while studying culinary arts, and more specifically learning the process of determining a restaurants "Food-cost".
    As mentioned earlier Recipe Builder is an inspiration that ultimately lead me to attend Lane Community College for an additional 
    degree in Computer Programming in hopes to learn how to develop the application, and as a by-product earn the additional degree
    and most likely earn more money</p>
    <p><a href="~/Views/Ingredients/Index" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>