
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>History</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <article id="hx_art">
                Locally Sourced has been around for quite some <span class="glyphicon glyphicon-time"></span> time now. <br />
                <br />
                <br />
                Come make <span class="glyphicon glyphicon-thumbs-up"></span> history with us!
            </article>
        </div>
    </div>
</div>